@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'OutfitLight'; 
  src: url('../assets/fonts/OutfitLight.ttf');
}

@font-face {
  font-family: 'Outfit'; 
  src: url('../assets/fonts/OutfitRegular.ttf');
}

@font-face {
  font-family: 'OutfitBold'; 
  src: url('../assets/fonts/OutfitBold.ttf');
}

@font-face {
  font-family: 'OutfitExtraBold'; 
  src: url('../assets/fonts/OutfitExtraBold.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Regular.otf');
}

@font-face {
  font-family: 'InterExtraLight';
  src: url('../assets/fonts/Inter-ExtraLight.otf');
}

@font-face {
  font-family: 'Pretendard';
  src: url('../assets/fonts/Pretendard-Regular.otf');
}
